*{
    margin: 0;
    padding: 0 ;
}

@media(min-width:900px){


    #Menu {
        width: 15%;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
        list-style: none;
        height: 500vh;
        float: left;
        background-color: #fff;
        
    }
    #Menu a {
        background-color: #fff;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #E7E7E7;
    }
    #Menu a:hover {
        background-color: #f7e4da;
        box-shadow: inset 8px 0px 0px 0px rgb(247, 160, 78);
    }
    #Menu a.active {
        background-color: #04AA6D;
        color: white;
    }

    #Menu img{
        width: 100%;
        height: 30vh;
    }
   #Menu #textLogo {
        background-color: #FFB354;
    }
    #textLogo h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        justify-content: center;
        color: #ffff;
    }
    #topoMenu{
        background-color:  #f7e4da;
        width: 85%;
    
    }
    .topoMenu p {
        margin: 1em 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #725C5C;
        margin-bottom: 0rem;
    }
    .topoMenu h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0rem;
        color: #725C5C;
    }
    .topoMenu h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #725C5C;
    }

    #topoMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
 
    }

    #parteDireitaMenu img{
        width: 5vh;
    }
    #parteDireitaMenu p {
        margin-right: 5%;
    }

    #parteDireitaMenu{
        display: flex;
        flex-direction: row;
        text-align: end;
        align-items: center;
        justify-content: space-between;
    }
    #lingua{
        width: 7em;
        height: 2em;
        background-color: #f7e4da;
        margin-right: 0.5em;
        border-radius: 4px;
        margin-right: 5%;
        
    }


    #section{
        margin-top: 2%;
    }
    #Superior{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #Superior h3{
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        line-height: 25px;
        width: 40em;
        letter-spacing: 0.05em;
        color: #ED7839;
    }
    .botoes{
        width: 20%;
        margin-right: 19vh;
        margin-bottom: 2px;
      
    }

    .icones img {
        width: 3em;
        height: 3em;
        justify-content: space-evenly;
    }
    .icones {
        display: flex;
        flex-direction: row;
    }
    .icon img {
        width: 25px;
        height: 25px;
    }
    .icon {
        width: 140px;
        height: 35px;
        ;
        border-radius: 6px;
        border: none;
        background-color: #ED7839;
        color: white;
    }
    #icon2 {
        width: 40px;
        height: 35px;
        border-radius: 6px;
        border: none;
        background-color: #ED7839;
        color: white;
    }
    #inferior{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #Layer1 {
        width: 80%;
        height: 75%;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
        overflow: auto;
        padding: 1em;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #5C5C5C;
    }

    #inferior h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        font-size: 14px;
        line-height: 25px;
        margin-top: 1em;
        letter-spacing: 0.05em;
        color: #ED7839;
        width: 80%;
        float: right;
    }
    #inferior h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        color: #4E4E4E;
        height: 2em;
        width: 80%;
        margin-bottom: 0;
        background-color: #FDF1EB;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    }
    #resumo {
        border-width: 1px;
        border-bottom: grey;
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        border-radius: 3px;
        width: 1058px;
       
        
    }
    #resumo h3 {
        background-color: #f7e4da;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        padding: 10px;
    }
    #resumo p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: #5C5C5C;
    }
    .btnLeiaMais {
        border-bottom: none;
        color: rgb(247, 160, 78);
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.02em;
        border: none;
        background-color: white;
    }
    #mostrarMais {
        display: none;
    }
    
    select#lerAssunto {
        width: 100px;
    }
    
    #formulario {
        display: none;
    }

    .discussoes {
        border-width: 1px;
        border-bottom: grey;
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        border-radius: 3px;
        width: 1058px;
       
    }
    .discussoes h3 {
        padding: 10px;
        background-color: #f7e4da;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        justify-content: flex-end;
    }

    .criandoTopico {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .criandoTopico h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #ED7839;
    }
    .criandoTopico p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #595959;
    }
    .criandoTopico button {
        background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
        border-radius: 4px;
        border: none;
        width: 8em;
        height: 2em;
    }
    .rodape {
        display: flex;
        flex-direction: row;
        padding: 2em;
      
    }
    .logoBotao {
        display: flex;
        flex-direction: column;
    }
    .rodape img {
        width: 200px;
    }
    .rodape button {
        width: 200px;
        height: 25px;
        color: white;
        background-color: purple;
        border-radius: 6px;
        border-style: none;
    }
    .rodape p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        width: 40em;
    }
}